.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.list {
  padding-top: 0;
}

.list-bottom {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.list-top {
  padding-top: 0;
}
