.pile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pile-card {
  width: 600px;
  max-height: 600px;
  padding: 0;
  padding-top: 10px;
}

.add-pile {
  margin: 10px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item-actions {
}

mat-nav-list {
  padding-top: 0;
}
